{% extends "base_template.html" %}
{% block title %}{{page_title}}{% endblock %}
{% block head %}
{{ super()}}      
<script>
    var ajaxURL = "{{ url_for('get_country')}}" + "/New Zealand";
</script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="{{ url_for('static', filename='js/visualisation.js')}}"></script>
{% endblock %}
{% block content %}
    <!-- Content Area -->
    <div class="main">
        <div class="jumbotron jumbotron-fluid bg-transparent">  
            <div class="container-fluid py-4 px-md-5 content-area">
                <h1 class="display-4 content-title">LANDING PAGE</h1>
                <p class="content-text">That first page you reach on a website. You know the one</p>
            </div>
        </div>
        <div class="jumbotron jumbotron-fluid border border-light bg-transparent">  
            <div class="container-fluid py-5 px-md-5 content-area">
                <h1 class="display-4 content-title">PLACEHOLDER FOR VISUALISATION</h1>
                <svg id="test" width="1000" height="300" onload="displayData(ajaxURL)"></svg>
            </div>
        </div>                
    </div>
{% endblock %}
