{% extends "base_template.html" %}
{% block title %}{{page_title}}{% endblock %}
{% block head %}
{{ super()}}      
<script>
</script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="{{ url_for('static', filename='js/visualisation.js')}}"></script>
{% endblock %}
{% block content %}
    <!-- Content Area -->
    <div class="main">
        <div class="jumbotron jumbotron-fluid bg-transparent">  
            <div class="container-fluid py-4 px-md-5 content-area">
                <h1 class="display-4 content-title">LANDING PAGE</h1>
                <p class="content-text">That first page you reach on a website. You know the one</p>
            </div>
            <div class="container-fluid py-5 px-md-5 content-area">
                <span>X AXIS:</span>
                <select id="dataset-selectbox" onchange="listYears()"></select>
                <span>Y AXIS:</span>
                <select id="dataset-selectbox2" onchange="listYears()"></select>
                <div class="container-fluid py-4 px-md-5">
                    <svg id="svg-canvas" width="960" height="500"></svg>
                </div>
                <div class="slidecontainer">
                    <input type="range" class="slider" id="years-slider" oninput="displayData()">
                  </div>
            </div>
        </div>              
    </div>
    <script>listDatasets();</script>
{% endblock %}
